/*	
	Teodulfo Espero
	BS Cloud and Systems Administration
	Western Governors University
*/

/* content */
div {
	float: left;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

body{
	font-size: 14px;
}

p {
	/* Content */
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	width: 50%;
	
	/* Border */
	border: 2px solid blue;

	/* Padding */
	padding: 10px;

	/* Margin */
	margin: 20px 20px 20px 20px; 

	/**/
}


td{
	width: 100px;
	height: 100px;
	background: #e6e6ff;
	vertical-align: center;
	text-align: center;
}

.dot {
  height: 80%;
  width: 80%;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
	font-size: 23px;
    margin: 1.66%;
    text-transform: uppercase;
    border-bottom: 3px solid red;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
	font-size: 10px;
    margin: 1.66%;
    border-top: 3px solid red;
}
span{
	font-size: 2.0em;
}


