/*	
	Teodulfo Espero
	BS Cloud and Systems Administration
	Western Governors University
*/


body{
	font-size: 14px;
	margin: 30px 30px 30px 30px;
}

p {
	/* Content */
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	width: 50%;
	
	/* Border */
	border: 2px solid blue;

	/* Padding */
	padding: 10px;

	/* Margin */
	margin: 20px 20px 20px 20px; 

	/**/
}


td{
	width: 100px;
	height: 100px;
	background: #e6e6ff;
	vertical-align: center;
	text-align: center;
}

.dot {
  height: 80%;
  width: 80%;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

span{
	font-size: 2.0em;
}

